.popoverContainer {
  position: relative;
  padding-left: var(--slds-g-spacing-8);
}

.popover {
  position: absolute;
  bottom: 15px;
  z-index: 1000;
  background-color: var(--slds-g-color-neutral-base-95, #f3f3f3);
}

.fieldContent {
  padding-left: var(--slds-g-spacing-8);
}
.fieldContentStacked {
  padding-top: var(--slds-g-spacing-4);
}
