:host {
  --slds-c-modal-header-color-background: #014486;
  --slds-c-modal-header-text-color: #ffffff;
  --slds-c-modal-heading-font-size: 20px;
  --slds-c-modal-heading-font-weight: var(--lwc-fontWeightBold);
  --slds-c-modal-heading-line-height: 30px;
}
.title {
  background-color: #f3f2f2;
  color: #080707;
  font-size: var(--amount-and-header-text-size);
  font-weight: 590;
  border-radius: var(--lwc-borderRadiusMedium);
  line-height: var(--amount-and-header-line-height);
}

.logoPadding {
  padding: 10px;
}
.incomeTypeStyle {
  font-size: 13px;
  font-weight: var(--lwc-fontWeightBold);
  line-height: var(--text-line-height);
}
.textStyle {
  font-size: var(--text-font-size);
  font-weight: var(--lwc-fontWeightRegular);
  line-height: var(--text-line-height);
}
.incomeErrorStyle {
  color: red;
  font-weight: var(--lwc-fontWeightBold);
}
.spinner-container {
  position: absolute;
  top: 13%;
  bottom: 16%;
  left: 0;
  right: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  z-index: 1000;
}
