/* Table container styling */
.table-container {
  position: relative;
  overflow: auto;
}

/* Error message styling */
.error-container {
  padding: 1rem;
  background-color: #fafaf9;
  border: 1px solid #dddbda;
  border-radius: 0.25rem;
}

/* Responsive adjustments for small screens */
@media screen and (max-width: 768px) {
  .table-container {
    overflow-x: auto;
  }
}

.spinnerHolder {
  position: relative;
  padding-top: var(--slds-g-sizing-13);
}
