# This file is used to automatically request reviews on PRs.

# These owners will be the default owners for everything in
# the repo, unless a match on a later line takes precedence.
# The below will request review from some members of the
# salesforce team.
*                                   @anzx/help-crm
force-app/main/default/workflows/** @pavankumarananta @dawsond1x @patelsu @aimaj-anz
force-app/main/default/flows/**     @pavankumarananta @dawsond1x @patelsu @aimaj-anz

# The below will request a review from members of the platform 
# engineering team for changes to CI/CD files
*.yaml                              @pavankumarananta @dawsond1x @patelsu @aimaj-anz
Dockerfile                          @pavankumarananta @dawsond1x @patelsu @aimaj-anz
ci/**                               @pavankumarananta @dawsond1x @patelsu @aimaj-anz
.github/**                          @pavankumarananta @dawsond1x @patelsu @aimaj-anz
