# This file is used to automatically request reviews on PRs.

# These owners will be the default owners for everything in
# the repo, unless a match on a later line takes precedence.
# The below will request review from some members of the
# salesforce team.
*                                   @anzx/help-crm
force-app/main/default/workflows/** @shawgreg @dawsond1x @patelsu @aimaj-anz @chiranjeebdhar
force-app/main/default/flows/**     @shawgreg @dawsond1x @patelsu @aimaj-anz @chiranjeebdhar

# The below will request a review from members of the platform 
# engineering team for changes to CI/CD files
*.yaml                              @shawgreg @dawsond1x @patelsu @aimaj-anz @chiranjeebdhar
Dockerfile                          @shawgreg @dawsond1x @patelsu @aimaj-anz @chiranjeebdhar
ci/**                               @shawgreg @dawsond1x @patelsu @aimaj-anz @chiranjeebdhar
.github/**                          @shawgreg @dawsond1x @patelsu @aimaj-anz @chiranjeebdhar
