# This file is used to automatically request reviews on PRs.

# These owners will be the default owners for everything in
# the repo, unless a match on a later line takes precedence.
# The below will request review from some members of the
# salesforce team.
*                                   @anzx/help-crm
force-app/main/default/workflows/** @dawsond1x @patelsu @chiranjeebdhar @sebastienquinternet-anz @murugem4 @jasmine-anzx @pvictoriano @victor-wang-anz
force-app/main/default/flows/**     @dawsond1x @patelsu @chiranjeebdhar @sebastienquinternet-anz @murugem4 @jasmine-anzx @pvictoriano @victor-wang-anz

# The below will request a review from members of the platform 
# engineering team for changes to CI/CD files
*.yaml                              @dawsond1x @patelsu @chiranjeebdhar @sebastienquinternet-anz @murugem4 @jasmine-anzx @pvictoriano @victor-wang-anz
Dockerfile                          @dawsond1x @patelsu @chiranjeebdhar @sebastienquinternet-anz @murugem4 @jasmine-anzx @pvictoriano @victor-wang-anz
ci/**                               @dawsond1x @patelsu @chiranjeebdhar @sebastienquinternet-anz @murugem4 @jasmine-anzx @pvictoriano @victor-wang-anz
.github/**                          @dawsond1x @patelsu @chiranjeebdhar @sebastienquinternet-anz @murugem4 @jasmine-anzx @pvictoriano @victor-wang-anz
