.blk {
  --sds-c-button-brand-color-background: black;
  --sds-c-button-brand-color-border: black;
  --sds-c-button-brand-color-background-hover: black;
  --sds-c-button-brand-color-border-hover: black;
}
