# This file is used for Git repositories to specify intentionally untracked files that Git should ignore.
# If you are not using git, you can delete this file. For more information see: https://git-scm.com/docs/gitignore
# For useful gitignore templates see: https://github.com/github/gitignore

# Husky
.husky/_

# Caches
.sf
.sfdx/
.eslintcache
.pmdCache

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/
webdriverIO/node_modules

# MacOS system files
.DS_Store

# Windows system files
Thumbs.db
ehthumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/

# Backup files
*~

# Misc.
.vscode/settings.json
.classpath
.project
.salesforce
.vscode
.idea
.tern-project
.settings
IlluminatedCloud/
.localdevserver/

# Unencrypted keys should not be committed
*.pem

# cicd working directory
stderr
/tmp
/artefact
/keys/*.txt
!/keys/*.encrypted.txt

# LWC VSCode autocomplete
jsconfig.json
# LWC Jest coverage reports
coverage/

# Eslint
.eslintrc.json

#Webdriver IO
webdriverIO/suite/all-logs/
webdriverIO/suite/driver-logs/
webdriverIO/build

# Sonarqube
.scannerwork

#Allure reporting
webdriverIO/allure-results/*
webdriverIO/!allure-results/categories.json
webdriverIO/allure-report
webdriverIO/.env
allure-results/*
!allure-results/categories.json
allure-report
.env
.env.example.original

# automation-test
automation-test/*