# https://git-scm.com/docs/git-check-mailmap#_mapping_authors

Brekelmans, Jasper <Jasper.Brekelmans@anz.com>
Dawson, David <David.Dawson@anz.com> <david.dawson@anz.com>
Saier, Olivier <Olivier.Saier@anz.com> <olivier.saier@anz.com>
Warnakula, Warnakulasuriya <Shermal.Warnakula@anz.com> Warnakula <warnakuw@global.anz.com>