:host {
  --line-height: 18px;
}

.modal-header {
  --slds-c-modal-header-color-background: var(--slds-g-color-palette-blue-30);
  --slds-c-modal-header-text-color: var(--slds-g-color-neutral-base-100);
  font-size: var(--slds-g-font-scale-4);
  font-weight: var(--slds-g-font-weight-7);
  line-height: 30px;
  height: 56px;
}

.logoStyle {
  width: 60px;
  height: 60px;
}

.marginStyle {
  margin-left: 25px;
  margin-right: 20px;
  margin-top: 25px;
  margin-bottom: 11px;
}

.buttonStyle {
  color: var(--slds-g-color-brand-base-60);
}

.textStyle {
  font-size: var(--slds-g-font-scale-neg-1, 12px);
  font-weight: var(--slds-g-font-weight-4);
  line-height: var(--line-height);
}

.textStyleBold {
  font-size: 15px;
  font-weight: var(--slds-g-font-weight-7);
  line-height: var(--line-height);
}
.requiredStyle {
  font-size: var(--slds-g-font-scale-neg-1, 12px);
  font-weight: var(--slds-g-font-weight-4);
  line-height: var(--line-height);
}
.questionStyle {
  font-size: var(--slds-g-font-size-base, 13px);
  font-weight: var(--slds-g-font-weight-4, 400);
  line-height: var(--line-height);
}
.logoSizing {
  width: 60px;
  height: 60px;
}
.hearderContentStyle {
  font-size: var(--slds-g-font-scale-2, 16px);
  font-weight: var(--slds-g-font-weight-4);
  line-height: var(--slds-g-font-lineheight-3, 22px);
}
.helpTextStyle {
  font-size: var(--slds-g-font-size-base, 13px);
  font-weight: var(--slds-g-font-weight-4, 400);
  line-height: var(--line-height);
}
.selectedOptionStyle {
  font-size: var(--slds-g-font-scale-neg-1, 12px);
  font-weight: var(--slds-g-font-weight-4, 400);
  line-height: var(--line-height);
}
