.balances {
  border: 1px solid #dddbda !important;
  user-select: none;
  /* iOS Safari */
  -webkit-touch-callout: none;
  /* Safari */
  -webkit-user-select: none;
}

.slds-item_label {
  font-size: 24px;
}

.lastUpdated {
  float: right;
  position: relative;
  font-size: 12px;
  bottom: 7px;
  right: 10px;
}

.tooltip {
  cursor: pointer;
  margin-left: 4px;
  position: relative;
  bottom: 2px;
}

.tooltip:hover {
  --sds-c-icon-color-foreground-default: #014486;
}

.close-modal {
  cursor: pointer;
  --sds-c-icon-color-foreground-default: #fff;
}

.modal-header {
  background: #1e164c;
  color: #fff;
}
