.slds-timeline__actions {
  align-items: flex-start;
}

.slds-media:not(:last-child) {
  margin-bottom: 25px;
}

.new-box {
  border-color: #03844b;
}

.change-box {
  border-color: #ffb75d;
}

.fix-box {
  border-color: #706e6b;
}

.slds-badge {
  position: relative;
  top: 44%;
  z-index: 1;
}

.slds-theme_warning {
  color: #ffffff;
}

.slds-box {
  position: relative;
}

hr {
  margin: unset;
  border-top: unset;
  height: unset;
}

/* .slds-box:after,
.slds-box:before {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.slds-box:after {
  border-right-color: #ffffff;
  border-width: 10px;
  margin-top: -10px;
}

.slds-box:before {
  border-right-color: inherit;
  border-width: 11px;
  margin-top: -11px;
} */

.slds-icon {
  width: 20px;
  margin: auto 20px;
}

.container {
  width: 100%;
  position: absolute;
  top: 50.5%;
  left: 30%;
  transform: translate(-50%, -50%);
}

.change-type {
  width: 15%;
  float: left;
}

.horizontal-line-new,
.horizontal-line-change,
.horizontal-line-fix {
  height: 1px;
  position: relative;
  top: 10px;
  z-index: 0;
  width: 20%;
}

.horizontal-line-new {
  background-color: #03844b;
}

.horizontal-line-change {
  background-color: #ffb75d;
}

.horizontal-line-fix {
  background-color: #706e6b;
}

.log-container {
  margin-left: 20%;
  width: 80%;
}

.slds-grid {
  min-height: 35px;
}

.slds-media__body {
  position: relative;
}

.slds-media__body::before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 10px;
  top: 30px;
  height: 100%;
  border-left: 3px #03844b solid;
}
