.slds-m-bottom_small {
  padding-left: 1px;
  vertical-align: bottom;
}
.dialing {
  margin-right: 5px;
}
.keypad {
  margin-right: 5px;
}
.dial-tab {
  padding-left: 10%;
  padding-right: 10%;
}
.chat-window {
  padding-left: 5%;
  padding-right: 5%;
}
