:host {
  --warning-text-height: 20px;
}

c-sop-spendings-l3-item {
  width: 100%;
}

.amountStyleSection {
  font-size: var(--header-text-font-size);
  font-weight: var(--amount-font-weight);
  line-height: var(--amount-line-height);
  color: var(--amount-font-color);
}

.headerStyling {
  font-size: var(--header-text-font-size);
  font-weight: var(--lwc-fontWeightBold);
  line-height: var(--text-line-height);
  color: var(--text-color);
}

.logoStyle {
  width: var(--logo-dimensions);
  height: var(--logo-dimensions);
}

.backStyle {
  color: var(--slds-g-color-palette-brand-base-60, #006dcc);
}

.lastModifiedStyle {
  font-size: var(--last-modified-dimensions);
  font-weight: var(--lwc-fontWeightRegular);
  line-height: var(--amount-and-header-text-size);
  color: var(--last-modified-text-color);
}

.amountStyle {
  font-size: var(--amount-and-header-text-size);
  font-weight: var(--amount-and-header-font-weight);
  line-height: var(--amount-and-header-line-height);
  color: var(--amount-font-color);
}

.warningTextStyle {
  font-size: var(--last-modified-dimensions);
  font-weight: var(--lwc-fontWeightRegular);
  line-height: var(--warning-text-height);
  color: var(--last-modified-text-color);
  font-style: italic;
}

.totalAndAmountStyle {
  float: right;
}

.totalStyle {
  font-size: 12px;
  font-weight: var(--lwc-fontWeightRegular);
  line-height: 18px;
  color: #3e3e3c;
}
