.slds-badge {
  margin-left: 10px;
}

.financialAccount {
  min-height: 200px;
}

.lastUpdated {
  font-size: 12px;
  float: right;
}
.savings-jar {
  max-width: 100px;
}
.not-found {
  margin: 0;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.balance-padding {
  padding-right: 48px;
}

.message-padding {
  padding: 20px;
}

.account-footer {
  margin-bottom: 15px;
}

.tooltip {
  cursor: pointer;
  margin-left: 4px;
  position: relative;
  bottom: 2px;
}

.tooltip:hover {
  --sds-c-icon-color-foreground-default: #014486;
}

.card-title {
  background: #eef1f5;
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border-radius: 0.25em;
  font-weight: bold;
}

.vertical-align {
  position: relative;
  top: 50%;
  padding-left: 10px;
  transform: translateY(-50%);
}

.slds-card__header-title {
  padding-left: 6px;
  padding-top: 5px;
}

/*As per story ANZX-113310 Colour of “Closed” status is changed . Hence , using this class for showing closed status with red text/white background/red border */
.closedBadgeClass {
  --slds-c-badge-color-background: white;
  --slds-c-badge-color-border: red;
  --slds-c-badge-text-color: red;
}

/*As per story ANZX-113310 Colour of "Dormant" status is changed . Hence , using this class for showing Dormant status with green text/white background/green border*/
.dormantBadgeClass {
  --slds-c-badge-color-background: white;
  --slds-c-badge-color-border: green;
  --slds-c-badge-text-color: green;
}

/*Account Closure date should appear in italic and in small size */
.italictext {
  font-style: italic;
  font-size: 10px;
}

.cicon {
  --sds-c-icon-color-background: rgb(27, 150, 255);
}
