:host {
  --header-button-color: var(--slds-g-color-error-1);
}

.modal-header {
  --slds-c-modal-header-color-background: var(--header-button-color);
  --slds-c-modal-header-text-color: var(--slds-g-color-neutral-base-100);
  font-size: var(--slds-g-font-scale-4);
  font-weight: var(--slds-g-font-weight-6);
  line-height: 30px;
  height: 56px;
}

.textStyle {
  font-size: var(--slds-g-font-scale-3);
  font-weight: var(--slds-g-font-weight-4);
  line-height: var(--slds-g-font-lineheight-4);
}
