:host {
  --accordion-background-color: var(--slds-g-color-palette-neutral-95);
}
.accordianSection {
  --slds-c-accordion-summary-color-background: var(
    --accordion-background-color
  );
  --slds-c-accordion-section-sizing-border: 1px;
  --slds-c-accordion-heading-text-color-hover: none;
}

.slds-accordion__summary {
  border-radius: var(--lwc-borderRadiusMedium);
}

.tooltip {
  cursor: pointer;
  margin-left: 2px;
  position: relative;
  bottom: 2px;
}
.tooltip:hover {
  --sds-c-icon-color-foreground-default: var(--slds-g-color-on-info-1);
}

.labelStyle {
  font-size: var(--slds-g-font-scale-neg-1);
  font-weight: var(--slds-g-font-weight-4);
  line-height: var(--slds-g-font-scale-3);
  color: var(--slds-g-color-neutral-base-30);
}
.valueStyle {
  font-size: var(--slds-g-font-size-base);
  font-weight: var(--slds-g-font-weight-4);
  line-height: var(--slds-g-font-scale-3);
  color: var(--slds-g-color-neutral-base-10);
}
.headingStyle {
  font-size: var(--slds-g-font-size-base);
  font-weight: var(--slds-g-font-weight-7);
  line-height: var(--slds-g-font-scale-3);
  color: var(--slds-g-color-neutral-base-10);
}
