.THIS .slds-card__footer {
  background: rgb(243, 242, 242);
  justify-content: flex-end;
  display: flex;
  position: sticky;
  bottom: 0;
}
.cancelBTN {
  margin-right: 4px;
}

.slds-card__footer {
  z-index: 10 !important;
}
