@import "c/customerAccountPageCssUtility";

.slds-badge {
  margin-left: 0.625rem;
}

.not-found {
  margin: 0;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.message-padding {
  padding: 1.25rem;
}

.account-footer {
  margin-bottom: 0.938rem;
}

.tooltip {
  cursor: pointer;
  margin-left: 0.25rem;
  position: relative;
  bottom: 0.125rem;
}

.tooltip:hover {
  --sds-c-icon-color-foreground-default: #014486;
}

.close-modal {
  cursor: pointer;
  --sds-c-icon-color-foreground-default: #fff;
}

.modal-header {
  background: #014486;
  color: #fff;
}

.vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/*As per story ANZX-113310 Colour of "Dormant" status is changed . Hence , using this class for showing Dormant status with green text/white background/green border*/
.dormantBadgeClass {
  --slds-c-badge-color-background: white;
  --slds-c-badge-color-border: green;
  --slds-c-badge-text-color: green;
}

.cicon {
  --sds-c-icon-color-background: rgb(27, 150, 255);
}
