.ring {
  position: relative;
  margin-top: 50px;
  margin-bottom: 110px;
}

.field-padding {
  padding: 20px;
}

.goals {
  user-select: none;
  /* iOS Safari */
  -webkit-touch-callout: none;
  /* Safari */
  -webkit-user-select: none;
}

.slds-card__footer {
  border: unset;
}

.padded-card {
  padding: 10px !important;
}

.last-updated {
  float: right;
  font-size: 12px;
  position: absolute;
  bottom: 7px;
  right: 10px;
}

.icon-background {
  height: 70px;
  width: 70px;
  background-color: #ebebeb;
  border-radius: 50%;
  position: relative;
}

.icon {
  font-size: 45px;
  position: absolute;
  left: 13px;
}

.icon-wrapper {
  position: relative;
  left: 40%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.tooltip {
  margin-left: 2px;
  position: relative;
  bottom: 3px;
}

.in-progress {
  min-height: 418px;
}

.completed {
  min-height: 195px;
}

.not-found {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tooltip-modal {
  cursor: pointer;
  margin-left: 4px;
  position: relative;
  bottom: 2px;
}

.tooltip-modal:hover {
  --sds-c-icon-color-foreground-default: #014486;
}

.close-modal {
  cursor: pointer;
  --sds-c-icon-color-foreground-default: #fff;
}

.modal-header {
  background: #014486;
  color: #fff;
}

.card-title {
  background: #eef1f5;
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border-radius: 0.25em;
  font-weight: bold;
}
