.fetch-cards {
  position: relative;
  left: 41%;
}

.collapse-cards {
  line-height: initial;
  padding-left: 15px;
}

.field-padding {
  padding: 5px 0px;
}

.card-container {
  max-height: 125px;
}

.details-container {
  position: relative;
  left: 42%;
  max-width: 315px;
  bottom: 110px;
}

.image-container {
  position: relative;
  top: 150px;
}

.load-all {
  position: relative;
  left: 44%;
}

.main-title {
  padding: 10px !important;
}

.card-title {
  background: #eef1f5;
  width: 98%;
  padding: 8px;
  font-size: 16px;
  margin-left: 1%;
  border-radius: 0.25em;
}

.tooltip {
  margin-left: 2px;
  position: relative;
  bottom: 3px;
}
