.fetch-cards {
  position: relative;
  left: 41%;
}

.collapse-cards {
  line-height: initial;
  padding-left: 15px;
}

.field-padding {
  padding: 5px 0px;
}

.card-container {
  max-height: 300px;
}

.details-container {
  position: relative;
  left: 42%;
  max-width: 315px;
  bottom: 110px;
}

.image-container {
  position: relative;
  top: 150px;
}

.load-all {
  position: relative;
  left: 44%;
}

.main-title {
  padding: 10px !important;
}

.card-title {
  background: #eef1f5;
  width: 98%;
  padding: 8px;
  font-size: 16px;
  margin-left: 1%;
  border-radius: 0.25em;
}

.tooltip {
  margin-left: 2px;
  position: relative;
  bottom: 3px;
}
.buttonsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.cardDetail {
  height: 100%;
  width: 100%;
  display: flex;
  padding-bottom: 10px;
}
.cardDetail > * {
  padding: 5px 5px 15px 5px;
}

.btn {
  margin-right: 15px;
}

@media only screen and (min-width: 767px) and (max-width: 1580px) {
  .buttonsContainer {
    justify-content: center;
  }
  .btn {
    display: grid;
    width: 80%;
    margin: 0 0 5px 0;
  }
}
