:host {
  --slds-c-modal-header-color-background: #014486;
  --slds-c-modal-header-text-color: #ffffff;
  --slds-c-modal-heading-font-size: 20px;
  --slds-c-modal-heading-line-height: 30px;
}
.deleteConfirmStyle {
  font-weight: var(--lwc-fontWeightRegular);
  font-size: 18px;
  line-height: var(--slds-g-font-lineheight-4);
}
