# Ensure the forward slash is removed from the end of the login URL 
SALESFORCE_LOGIN_URL=
COACH_USERNAME=
COACH_PASSWORD=
COACH_USERID=
COACH_LEAD_USERNAME=
COACH_LEAD_PASSWORD=
CONTENT_WRITER_USERNAME=
CONTENT_WRITER_PASSWORD=
FRAUDX_AGENT_USERNAME=
FRAUDX_AGENT_PASSWORD=
OCV_AUTOMATION_USERNAME=
OCV_AUTOMATION_PASSWORD=
QUALITY_ANALYST_USERNAME=
QUALITY_ANALYST_PASSWORD=
QUALTRICS_AUTOMATION_USERNAME=
QUALTRICS_AUTOMATION_PASSWORD=
QUALTRICS_AUTOMATION_USERID=
SUPPORT_COACH_USERNAME=
SUPPORT_COACH_PASSWORD=
BUSINESS_ADMIN_USERNAME=
BUSINESS_ADMIN_PASSWORD=
BUSINESS_ADMIN_USERID=
