.card-header {
  color: white;
  font-size: 20px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.header-div {
  background-color: grey;
  padding-bottom: 10px;
}

.cancel-button {
  color: red;
  float: right;
  margin-right: 20px;
}

.body-wording-section {
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: 20px;
  max-width: 80%;
}

.block-button {
  margin-left: 20px;
}
