.slds-badge {
  margin-left: 10px;
}

.everydayAccount {
  border: 1px solid #dddbda !important;
  min-height: 248px;
  user-select: none;
  /* iOS Safari */
  -webkit-touch-callout: none;
  /* Safari */
  -webkit-user-select: none;
}

.main-title,
.slds-card__body {
  padding: 10px !important;
}

.slds-card__footer {
  border: unset;
}

.lastUpdated {
  float: right;
  font-size: 12px;
  position: absolute;
  bottom: 7px;
  right: 10px;
}

.not-found {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.field-padding {
  padding: 10px;
}

.message-padding {
  padding: 20px;
}
