.group-card {
  display: block;
}
.file-card {
  height: 100%;
}
.file-card .slds-card__body {
  text-align: center;
}
.file-card .slds-card__header {
  margin: 0;
  padding: 0.5em 1em;
  border-bottom: 1px #ddd solid;
  background-color: #fafafa;
}
.file-card .slds-card__footer {
  text-align: right;
}
