.slds-form-element_readonly {
  width: 85%;
  border-width: 2px;
}

.slds-accordion__list-item {
  border: unset;
}

.card {
  width: 300px;
  height: 175px;
  background-color: #056dff;
  text-align: center;
  border-radius: 15px;
  position: relative;
  margin-left: 12px;
  font-weight: bold;
}

.card:after {
  content: "";
  position: absolute;
  height: 60px;
  left: 97%;
  right: -22%;
  border-radius: 50%;
  background: #fff;
  top: 51%;
}

.card-holder {
  display: block;
  font-size: 18px;
  position: relative;
  top: 15%;
  left: 100%;
  z-index: 1;
}

.card-details {
  display: grid;
  font-size: 14px;
  position: relative;
  top: 30%;
  left: 100%;
  z-index: 1;
}

.card-number {
  font-size: 18px;
}
