:host {
  font-size: var(--slds-g-font-size-base);
}
:host .helptextCss {
  --lwc-spacingXxSmall: 0;
}
.fieldLabel {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-hyphens: auto;
  hyphens: auto;
  display: inline-block;
  color: var(--slds-g-color-neutral-base-30, #444);
  font-weight: var(--slds-g-font-weight-4);
}
.helptextCss {
  padding-left: var(--slds-g-spacing-2);
}
.fieldContent {
  padding-left: var(--slds-g-spacing-8);
}
.fieldContentStacked {
  padding-top: var(--slds-g-spacing-4);
}
.fieldRow {
  margin-left: var(--slds-g-spacing-2);
}
