@media (max-width: 1060px) {
  c-generic-field-container .slds-accordion .fieldRow .slds-grid,
  c-generic-card .fieldRow .slds-grid {
    flex-direction: column;
  }
  c-generic-field-container .slds-accordion .fieldLabel,
  c-generic-card c-generic-field-container .fieldLabel {
    white-space: nowrap;
  }
  c-generic-field-container .slds-accordion .fieldContent,
  c-generic-card c-generic-field-container .slds-col .fieldContent {
    padding-left: 0;
  }
}
