.filter-button {
  cursor: pointer;
}

.load-more {
  margin: 50px 0 10px 0;
  position: relative;
  left: 50%;
}

.expand-collapse {
  position: relative;
}

.not-found {
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.search-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}
