.transactionHistoryBoard {
  min-height: 200px;
}

.filter-button {
  cursor: pointer;
}

.slds-button_icon-small {
  color: white;
}

.expand-collapse {
  position: relative;
}

.not-found {
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.search-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}

.field-padding {
  padding: 20px;
}

.padded-card {
  padding: 10px !important;
}

.card-title {
  background: #eef1f5;
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border-radius: 0.25em;
  font-weight: bold;
  height: 100%;
}

.flex-override {
  flex: unset !important;
  align-self: center;
}
