.headerStyle {
  font-size: 20px;
  line-height: 30px;
  color: var(--slds-g-color-neutral-base-100, #ffffff);
  --slds-c-modal-header-color-background: var(
    --slds-g-color-brand-base-30,
    #014486
  );
}
