.fieldLabel {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-hyphens: auto;
  hyphens: auto;
  display: inline-block;
  color: var(--slds-g-color-neutral-base-30, #444);
  font-weight: var(--slds-g-font-weight-4);
}

.fieldContent {
  padding-left: var(--slds-g-spacing-8);
}

.recordLabel {
  font-weight: var(--slds-g-font-weight-6, 600);
}
