/* Space for add button to shift it down to align with typeahead*/
omnistudio-omniscript-ip-action button[type="button"] {
  margin-top: 1rem;
}

/* runtime css */
runtime_omnistudio_omniscript-omniscript-ip-action button[type="button"] {
  margin-top: 1rem;
}

/* Used to expand button as a standard section page and beautify it to match the standard section accordian */
section .slds-accordion__summary {
  --slds-c-accordion-summary-color-background: var(
    --slds-g-color-neutral-base-95,
    var(--lwc-colorBackground, rgb(243, 243, 243))
  );
  --slds-c-accordion-sizing-border: 0px;
}

/* Show required tag on typeahead */
omnistudio-omniscript-typeahead[data-omni-key*="reason"]
  label[omnistudio-typeahead_typeahead_slds]:before {
  content: "*";
  color: var(
    --slds-g-color-error-base-40,
    var(--lwc-colorTextError, rgb(234, 0, 30))
  );
  margin: 0 var(--lwc-spacingXxxSmall, 0.125rem);
}

/* runtime css */
runtime_omnistudio_omniscript-omniscript-typeahead[data-omni-key*="reason"]
  label[runtime_omnistudio_common-typeahead_typeahead_slds]:before {
  content: "*";
  color: var(
    --slds-g-color-error-base-40,
    var(--lwc-colorTextError, rgb(234, 0, 30))
  );
  margin: 0 var(--lwc-spacingXxxSmall, 0.125rem);
}

omnistudio-omniscript-typeahead[data-omni-key*="topic"]
  label[omnistudio-typeahead_typeahead_slds]:before {
  content: "*";
  color: var(
    --slds-g-color-error-base-40,
    var(--lwc-colorTextError, rgb(234, 0, 30))
  );
  margin: 0 var(--lwc-spacingXxxSmall, 0.125rem);
}

/* runtime css */
runtime_omnistudio_omniscript-omniscript-typeahead[data-omni-key*="topic"]
  label[runtime_omnistudio_common-typeahead_typeahead_slds]:before {
  content: "*";
  color: var(
    --slds-g-color-error-base-40,
    var(--lwc-colorTextError, rgb(234, 0, 30))
  );
  margin: 0 var(--lwc-spacingXxxSmall, 0.125rem);
}

omnistudio-omniscript-typeahead[data-omni-key*="product"]
  label[omnistudio-typeahead_typeahead_slds]:before {
  content: "*";
  color: var(
    --slds-g-color-error-base-40,
    var(--lwc-colorTextError, rgb(234, 0, 30))
  );
  margin: 0 var(--lwc-spacingXxxSmall, 0.125rem);
}

/* runtime css */
runtime_omnistudio_omniscript-omniscript-typeahead[data-omni-key*="product"]
  label[runtime_omnistudio_common-typeahead_typeahead_slds]:before {
  content: "*";
  color: var(
    --slds-g-color-error-base-40,
    var(--lwc-colorTextError, rgb(234, 0, 30))
  );
  margin: 0 var(--lwc-spacingXxxSmall, 0.125rem);
}

/* Hide input compoent of Engagement box */
omnistudio-omniscript-text[data-omni-key="Engagement"]
  div[class="slds-form-element__control slds-form-element__control-animated-label"] {
  display: none;
}

/* runtime css */
runtime_omnistudio_omniscript-omniscript-text[data-omni-key="Engagement"]
  div[class="slds-form-element__control slds-form-element__control-animated-label"] {
  display: none;
}

/* Expand label compoent of Engagement box */
omnistudio-omniscript-text[data-omni-key="Engagement"] {
  margin-top: 0.8rem;
  width: 33%;
}

/* runtime css */
runtime_omnistudio_omniscript-omniscript-text[data-omni-key="Engagement"] {
  margin-top: 0.8rem;
  width: 33%;
}

/* Change Add button colors */
omnistudio-omniscript-ip-action[data-omni-key*="Add"]
  button[class="vlocity-btn slds-button slds-button_brand slds-button_stretch"] {
  background-color: rgb(255, 255, 255);
  color: var(--lwc-brandTextLink, rgb(1, 118, 211));
}

/* runtime css */
runtime_omnistudio_omniscript-omniscript-ip-action[data-omni-key*="Add"]
  button[class="vlocity-btn slds-button slds-button_brand slds-button_stretch"] {
  background-color: rgb(255, 255, 255);
  color: var(--lwc-brandTextLink, rgb(1, 118, 211));
}

/* Hide input component of Video Call Check box */
runtime_omnistudio_omniscript-omniscript-text[data-omni-key="VideoCallLabel"]
  div[class="slds-form-element__control slds-form-element__control-animated-label"] {
  display: none;
}

/* Adjust the margins of Video Call Checkbox */
runtime_omnistudio_omniscript-omniscript-text[data-omni-key="VideoCallLabel"] {
  margin-top: 0.8rem;
}

/* Hide the top line */
.vlc-separator {
  display: none;
}

/* runtime css */
runtime_omnistudio_omniscript-omniscript-typeahead-block[data-omni-key="account-Block"] {
  max-width: 42%;
}

/* runtime css */
runtime_omnistudio_omniscript-omniscript-typeahead-block[data-omni-key="lead-Block"] {
  max-width: 42%;
}
