runtime_omnistudio_omniscript-omniscript-radio[data-omni-key="jointAccEnable"] .slds-radio_button__label{
    BACKGROUND-COLOR:#0176D3;
}

runtime_omnistudio_omniscript-omniscript-radio[data-omni-key="jointAccEnable"] .slds-radio_faux
{
    COLOR: #FFFFFF;
}

runtime_omnistudio_omniscript-omniscript-radio[data-omni-key="jointAccDisable"] .slds-radio_button__label{
    BACKGROUND-COLOR:#0176D3;
}

runtime_omnistudio_omniscript-omniscript-radio[data-omni-key="jointAccDisable"] .slds-radio_faux
{
    COLOR: #FFFFFF;
}

