/*@import "c/customerAccountPageCssUtility";*/

.total-amounts {
  min-height: 156px;
}

.heading-font {
  line-height: 27px;
  font-size: 18px;
  font-weight: 700;
}

.slds-item_label {
  font-size: 24px;
}

.lastUpdated {
  float: right;
  position: relative;
  font-size: 12px;
  bottom: 7px;
  right: 10px;
}

.field-padding {
  padding: 10px;
}

.tooltip {
  cursor: pointer;
  margin-left: 4px;
  position: relative;
  bottom: 2px;
}

.tooltip:hover {
  --sds-c-icon-color-foreground-default: #014486;
}

.close-modal {
  cursor: pointer;
  --sds-c-icon-color-foreground-default: #fff;
}

.modal-header {
  background: #014486;
  color: #fff;
}

.card-title-header {
  width: 100%;
  padding: 8px;
  border-radius: 0.25em;
  border-bottom: 1px solid #1602022e;
}
