.total-amounts {
  min-height: 150px;
  user-select: none;
  /* iOS Safari */
  -webkit-touch-callout: none;
  /* Safari */
  -webkit-user-select: none;
}

.slds-item_label {
  font-size: 24px;
}

.lastUpdated {
  float: right;
  position: relative;
  font-size: 12px;
  bottom: 7px;
  right: 10px;
}

.field-padding {
  padding: 10px;
}

.tooltip {
  cursor: pointer;
  margin-left: 4px;
  position: relative;
  bottom: 2px;
}

.tooltip:hover {
  --sds-c-icon-color-foreground-default: #014486;
}

.close-modal {
  cursor: pointer;
  --sds-c-icon-color-foreground-default: #fff;
}

.modal-header {
  background: #014486;
  color: #fff;
}

.card-title {
  background: #eef1f5;
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border-radius: 0.25em;
  font-weight: bold;
}
