@import "c/customerAccountPageCssUtility";

.total-amounts {
  min-height: 9.75rem;
}

.heading-font {
  line-height: 1.688rem;
  font-size: 1.125rem;
  font-weight: 700;
}

.slds-item_label {
  font-size: 1.5rem;
}

.lastUpdated {
  float: right;
  position: relative;
  font-size: 0.75rem;
  bottom: 0.438rem;
  right: 0.625rem;
}

.field-padding {
  padding: 0.625rem;
}

.tooltip {
  cursor: pointer;
  margin-left: 0.25rem;
  position: relative;
  bottom: 0.125rem;
}

.tooltip:hover {
  --sds-c-icon-color-foreground-default: #014486;
}

.close-modal {
  cursor: pointer;
  --sds-c-icon-color-foreground-default: #fff;
}

.modal-header {
  background: #014486;
  color: #fff;
}

.card-title-header {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.25em;
  border-bottom: 0.06rem solid rgb(201, 201, 201);
}
