@import "c/customerAccountPageCssUtility";

.slds-badge {
  margin-left: 10px;
}

.cicon {
  --sds-c-icon-color-background: #ef7ead;
}

.lastUpdated {
  font-size: 12px;
  float: right;
}

.account-footer {
  margin-bottom: 15px;
}

.tooltip {
  cursor: pointer;
  margin-left: 4px;
  position: relative;
  bottom: 2px;
}

.tooltip:hover {
  --sds-c-icon-color-foreground-default: #014486;
}

.close-modal {
  cursor: pointer;
  --sds-c-icon-color-foreground-default: #fff;
}

.modal-header {
  background: #014486;
  color: #fff;
}

.loan-image {
  padding: 0.75em;
}
