.slds-badge {
  margin-left: 10px;
}

.homeLoanAccount {
  min-height: 200px;
}

.cicon {
  --sds-c-icon-color-background: #ef7ead;
}

.slds-section__title {
  background: #eef1f5;
  width: auto;
  padding: 7px;
  font-size: 15px;
  border-radius: 0.25em;
  font-weight: bold;
  flex-wrap: wrap;
}

.slds-section__title .sub-title {
  font-size: 0.9rem;
  color: inherit;
  font-weight: 400;
  margin-left: 2.7rem;
  width: 100%;
}

.accordionSection {
  --slds-c-accordion-summary-color-background: #eef1f5;
  --slds-c-accordion-sizing-border: 0px;
}

.lastUpdated {
  font-size: 12px;
  float: right;
}

.account-footer {
  margin-bottom: 15px;
}

.tooltip {
  cursor: pointer;
  margin-left: 4px;
  position: relative;
}

.tooltip-margin {
  bottom: 6px;
}

.tooltip-margin-modal {
  bottom: 2px;
}

.tooltip:hover {
  --sds-c-icon-color-foreground-default: #014486;
}

.close-modal {
  cursor: pointer;
  --sds-c-icon-color-foreground-default: #fff;
}

.modal-header {
  background: #014486;
  color: #fff;
}

.loan-image {
  padding: 0.75em;
}

.rowgap {
  padding-top: 20px;
}

.alignment {
  margin: auto;
}
