.positive-amount {
  color: #0e8d0d;
  font-weight: bold;
  background-color: #e5f2e5;
}

.name {
  max-width: 80%;
}

.logo-image {
  max-width: 45%;
  position: relative;
}

.source-emoji {
  display: inline-flex;
  width: 50px;
  height: 50px;
  border: 1px solid #e3e5ed;
  background: white;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.8em;
}

.source-image {
  display: block;
  width: 50px;
  height: 50px;
  border: 1px solid #e3e5ed;
  background: white;
  border-radius: 50%;
}

.source-image > img {
  max-height: 100%;
  max-width: 100%;
}

.destination-emoji {
  display: inline-flex;
  width: 50px;
  height: 50px;
  border: 1px solid #e6e7ed;
  background: white;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.8em;
  position: relative;
  left: 21px;
  bottom: 27px;
}

.destination-image {
  display: block;
  width: 50px;
  height: 50px;
  border: 1px solid #e3e5ed;
  background: white;
  border-radius: 50%;
  position: relative;
  left: 21px;
  bottom: 27px;
}

.destination-image > img {
  max-height: 100%;
  max-width: 100%;
  position: absolute;
}

img {
  max-width: 60%;
}

.transaction-date {
  padding-bottom: 25px;
  user-select: none;
  /* iOS Safari */
  -webkit-touch-callout: none;
  /* Safari */
  -webkit-user-select: none;
}

.chevron {
  cursor: pointer;
  position: relative;
  left: 50%;
  top: 33%;
}

.transaction-item {
  padding: 20px !important;
  user-select: none;
  /* iOS Safari */
  -webkit-touch-callout: none;
  /* Safari */
  -webkit-user-select: none;
}

.odd {
  background: #f3f2f2 !important;
}

.description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  max-width: 85%;
}

.description-tooltip,
.name-tooltip {
  visibility: hidden;
  width: 30%;
  background-color: #18315c;
  padding: 20px;
  opacity: 0;
  transition: opacity 0.5s ease;
  position: absolute;
  left: 25%;
  color: #ffffff;
  z-index: 1;
}

.description-tooltip__merchant {
  left: 42% !important;
}

.description:hover + .description-tooltip,
.name:hover + .description-tooltip {
  visibility: visible;
  transition: opacity 0.5s ease;
  opacity: 1;
}

.transaction-section {
  margin-top: 30px;
}

.section-title {
  position: relative;
  left: 146px;
  padding-bottom: 15px;
  font-weight: bold;
}

.word-fix {
  max-width: 130px;
  word-break: break-word;
}

.tag:nth-child(4n + 1) {
  margin-left: 14%;
}

.map {
  width: 40%;
}

.button-icon-col {
  justify-content: flex-end;
  align-self: center;
  display: flex;
}

.logo-container {
  height: 60px !important;
}
