.card-container {
  padding: 0.75rem;
  border-radius: 0.25rem;
}

.slds-box_border {
  border: 1px solid #d8dde6;
  border-radius: 0.25rem;
  transition: box-shadow 0.3s ease-in-out;
}

.slds-box_border:hover {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
}

/* Add space between cards */
.slds-box_border:not(:last-child) {
  margin-bottom: 1rem;
}

.spinnerHolder {
  position: relative;
  padding-top: var(--slds-g-sizing-15);
}
