:host {
  font-size: var(--slds-g-font-size-base);
}
:host .helptextCss {
  --lwc-spacingXxSmall: 0;
}
.fieldLabel {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-hyphens: auto;
  hyphens: auto;
  display: inline-block;
  color: var(--slds-g-color-neutral-base-30, #444);
  font-weight: var(--slds-g-font-weight-4);
}
.helptextCss {
  padding-left: var(--slds-g-spacing-2);
}
.fieldContent {
  padding-left: var(--slds-g-spacing-8);
}
.fieldRow {
  border-bottom: var(--slds-g-sizing-border-1, 1px) solid
    var(--slds-g-color-border-base-1, #e5e5e5);
  margin-left: var(--slds-g-spacing-2);
  padding: var(--slds-g-spacing-1);
}
